################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/ObajuShopping/obj/Debug
/ObajuShopping/bin
/ObajuShoppingAdmin/bin
/ObajuShopping.Admin/debug
/ObajuShopping.Admin/bin
/ObajuShopping.Admin/obj/Debug
/ObajuShopping.Services/obj/Debug
/ObajuShopping.Services/bin/Debug
