@using Kendo.Mvc.UI

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready()
</script>

<form action="/" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left" style="/*float:left !important;*/">Products <small>List</small></h1>
        <div class="pull-right" style="display:block;box-sizing:border-box;margin-top:15px;">
            <a href="@Url.Action("Create","Product")" class="btn bg-success"><i class="fa fa-plus-square"></i> Add New</a>
            <button type="button" class="btn bg-info">Export</button>
            <button type="button" class="btn bg-success">Import</button>
            <button type="button" class="btn bg-danger"><i class="fa fa-trash-o"></i> Delete</button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div id="products-grid person-list" class="k-gid">
                        @(Html.Kendo().Grid<ObajuShopping.Admin.Models.Product>
                              ()
                              .Name("grid")
                              .ToolBar(tools=>tools.Pdf())
                              .Pdf(pdf=>pdf
                              .AllPages()
                              .AvoidLinks()
                              .PaperSize("A4")
                              .Scale(0.8)
                              .Margin("2cm","1cm","1cm","1cm")
                              .Landscape().RepeatHeaders()
                              .TemplateId("page-template")
                              .FileName("Kendo UI Grid Export.pdf")
                              .ProxyURL(Url.Action("Pdf_Export_Save","Grid"))
                              )
                              .Columns(columns =>
                              {
                                  columns.Bound(c => c.photo);
                                  columns.Bound(c => c.name);
                                  columns.Bound(c => c.price);
                                  columns.Bound(c => c.description);
                                  columns.Bound(c => c.quantity);
                              })
                              .HtmlAttributes(new {style = "height: 550px;"})
                              .Scrollable()
                              .Groupable()
                              .Sortable()
                              .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5))
                              .DataSource(d => d.Ajax().Read(r => r.Action("Products_Read", "Product"))
                                  .PageSize(20)
                              )
                              )
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
