@using Kendo.Mvc.UI

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">Products</h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div id="products-grid person-list" class="k-gid">
                        @(Html.Kendo().Grid<ObajuShopping.Admin.Models.ProductViewModel>().Name("Products").Columns(c =>
                    {
                        c.Bound(p => p.ProductName);
                        c.Bound(p => p.ProductPhoto);
                        c.Bound(p => p.ProductPrice);
                        c.Bound(p => p.ProductSpecials);
                        c.Bound(p => p.UnitsInStock);
                        c.Bound(p => p.ProductDescription);
                        c.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
                    })
                        .DataSource(d => d
                            .Ajax()
                            .Read(r => r.Action("Read", "Product"))
                            .Update(u => u.Action("Update", "Product"))
                            .Destroy(x => x.Action("Delete", "Product"))
                            .Create(c => c.Action("Create", "Product"))
                            .PageSize(5)
                            .Model(m =>
                            {
                                m.Id(p => p.ProductID);
                            })
                        )
                        .Pageable()
                        .Groupable()
                        .Sortable()
                        .Filterable()
                        .Editable(e => e.Mode(GridEditMode.PopUp))
                        .HtmlAttributes(new { style = "height:550px;" })
                        .ToolBar(t => t.Create())
                        )

                    </div>
                    <script type="text/javascript">
                        function error_handler(e) {
                            if (e.errors) {
                                var message = "Errors:\n";
                                $.each(e.errors, function (key, value) {
                                    if ('errors' in value) {
                                        $.each(value.errors, function () {
                                            message += this + "\n";
                                        });
                                    }
                                });
                                alert(message);
                            }
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
</form>
