@using Kendo.Mvc.UI

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">Categories</h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div id="products-grid person-list" class="k-gid">
                        @(Html.Kendo()
                            .Grid<ObajuShopping.Admin.Models.CategoryViewModel>()
                            .Name("Categories")
                            .Columns(c =>
                            {
                                c.Bound(cat => cat.CategoryName);
                                c.Bound(cat => cat.CategoryTopCat);
                                c.Bound(cat => cat.CategoryIsActive);
                                c.Command(com =>
                                {
                                    com.Edit();
                                    com.Destroy();
                                });
                            })
                            .DataSource(d => d
                                .Ajax()
                                .Read(r => r.Action("Read", "Category"))
                                .Update(r => r.Action("Update", "Category"))
                                .Destroy(r => r.Action("Delete", "Category"))
                                .Create(r => r.Action("Create", "Category"))
                                .PageSize(10)
                                .Model(m =>
                                {
                                    m.Id(c => c.CategoryID);
                                })
                            )
                            .Pageable()
                            .Groupable()
                            .Sortable()
                            .Filterable()
                            .Editable(e => e.Mode(GridEditMode.PopUp))
                            .HtmlAttributes(new { style = "height:550px;" })
                            .ToolBar(t => t.Create())
                        )
                    </div>
                    <script type="text/javascript">
                        function error_handler(e) {
                            if (e.errors) {
                                var message = "Errors:\n";
                                $.each(e.errors, function (key, value) {
                                    if ('errors' in value) {
                                        $.each(value.errors, function () {
                                            message += this + "\n";
                                        });
                                    }
                                });
                                alert(message);
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>
