@model List<ObajuShopping.CategoryViewModel>

@foreach (var topCat in Model)
{
    <li class="dropdown yamm-fw">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">@topCat.name<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <div class="yamm-content">
                    <div class="row">
                        @foreach (var subCat1 in topCat.category.Select(s => new { s.id, s.name, s.Category1 }).ToList())

                        {
                            <div class="col-sm-3">
                                <h5>@subCat1.name</h5>
                                <ul>
                                    @foreach (var subCat2 in subCat1.Category1.Select(s => new { s.name, s.id }).ToList())
                                    {
                                        <li>
                                            <a href="category.html">@subCat2.name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
            </li>
        </ul>
    </li>
}
